/* This is an example of using Sass, otherwise plain CSS works too*/
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");


body {
  box-sizing: border-box;
  background: $body-background;
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
}

header {
  border-bottom: 3px $header-border solid;
  background-color: $header-color; 
  display: flex;
  flex-wrap: wrap;
  height: 10%;
  justify-content: space-around;
  padding: 10px;
  width: 100%;
  h1 {
    width: 100%;
    margin: 0px;
  }
  #current-customer {
    width: 100%;
  }
}

main {
  margin: 10% auto;
  width: 90%;
}

ul.tabs {
  margin: 0px;
  padding: 0px;
  list-style: none;
  li {
	  background: none;
	  display: inline-block;
	  padding: 10px 15px;
	  cursor: pointer;
  }
  li.selected {
		background: $primary-background;
	}
}

time {
  float: right;
}

.content {
	display: none;
	background: $primary-background;
	padding: 15px;
}

.content.selected {
  display: inherit;
}

#search-rooms-form {
  @include form-on-right();
}

#search-orders-form {
   @include form-on-right();
}

#search-customer-form {
  @include customer-form-layout();
} 

#add-customer-form {
  @include customer-form-layout();
  margin-top: 20px;
}

table {
  border-collapse: collapse; 
  border: 1px $body-background solid;
  text-align: center;
  width: 100%;
  thead {
    th {
      border: 1px $body-background solid;
    }
  }
  tbody {
    td {
      border: 1px $body-background solid;
    }
  }
}

#available-rooms-container {
  border: 1px $body-background solid;
  margin: 0px 0px 30px;
  max-height: 250px;
  overflow: scroll;
  padding: 5px 5px;
}

.no-info-found {
  color: red;
  text-align: center;
  width: 100%;
}

#book-room-button {
  @include toggle-buttons();
}

#book-room-form {
  @include booking-forms();
  select {
    margin: 5px 0px;
    width: 100%;
  }
}

#toggle-unbook-form {
  @include toggle-buttons();
}

#unbook-room-form {
  @include booking-forms();
}

#toggle-order-form {
   @include toggle-buttons();
}

#add-order-form {
  border: 1px $body-background solid;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  padding: 3px;
  width: 30%;
  select {
    margin: 5px 0px;
    width: 100%;
  }
}

@media only screen and (max-width: 400px) {

  #add-customer-form,
  #search-customer-form,
  #unbook-room-form,
  #book-room-form,
  #add-order-form {
    width: 50%;
  }

  #book-room-button,
  #toggle-unbook-form,
  #toggle-order-form {
    margin: 20px 25%;
    width: 50%;
  }

  #customer-roomservice {
    border: 1px $body-background solid;
    margin: 0px 0px 30px;
    max-height: 250px;
    overflow: scroll;
    padding: 5px 5px;
  }

}