/* This is an example of using Sass, otherwise plain CSS works too*/

body {
  box-sizing: border-box;
}

main {
  margin: auto;
  width: 90%;
}

ul.tabs {
  margin: 0px;
  padding: 0px;
  list-style: none;
  li {
	  background: none;
	  display: inline-block;
	  padding: 10px 15px;
	  cursor: pointer;
  }
  li.selected {
		background: #ededed;
		color: #222;
	}
}

.content {
	display: none;
	background: #ededed;
	padding: 15px;
}

.content.selected {
  display: inherit;
}