/* This is an example of using Sass, otherwise plain CSS works too*/
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");


body {
  box-sizing: border-box;
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
}

header {
  background-color: #6478AD; 
  height: 10%;
  padding: 10px;
  width: 100%;
  h1 {
    margin: 0px;
  }
}

main {
  margin: auto;
  margin-top: 10%;
  width: 90%;
}

ul.tabs {
  margin: 0px;
  padding: 0px;
  list-style: none;
  li {
	  background: none;
	  display: inline-block;
	  padding: 10px 15px;
	  cursor: pointer;
  }
  li.selected {
		background: #ededed;
	}
}

time {
  float: right;
}

.content {
	display: none;
	background: #ededed;
	padding: 15px;
}

.content.selected {
  display: inherit;
}

#search-customer-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  width: 20%;
  button {
    margin: 3px 0px;
    width: 100%;
  }
  label {
    margin: 3px 0px;
    text-align: center;
    width: 100%;
  }
  input {
    margin: 3px 0px;
    width: 100%;
  }
} 

#add-customer-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px auto;
  width: 20%;
  button {
    margin: 3px 0px;
    width: 100%;
  }
  label {
    margin: 3px 0px;
    text-align: center;
    width: 100%;
  }
  input {
    margin: 3px 0px;
    width: 100%;

  table {
    border-collapse: collapse; 
    border: 1px black solid;
    text-align: center;
    width: 100%;
  thead {
    th {
      border: 1px black solid;
    }
  }
  tbody {
    td {
      border: 1px black solid;
    }
  }
}