/* This is an example of using Sass, otherwise plain CSS works too*/

body {
  box-sizing: border-box;
}

main {
  margin: auto;
  margin-top: 10%;
  width: 90%;
}

ul.tabs {
  margin: 0px;
  padding: 0px;
  list-style: none;
  li {
	  background: none;
	  display: inline-block;
	  padding: 10px 15px;
	  cursor: pointer;
  }
  li.selected {
		background: #ededed;
	}
}

time {
  float: right;
}

.content {
	display: none;
	background: #ededed;
	padding: 15px;
}

.content.selected {
  display: inherit;
}

table {
  border-collapse: collapse; 
  border: 1px black solid;
  text-align: center;
  width: 100%;
  thead {
    th {
      border: 1px black solid;
    }
  }
  tbody {
    td {
      border: 1px black solid;
    }
  }
}